body {
	font-family: Lucida Grande, Segoe UI, Open Sans, san-serif;
	font-size: 14px;
	background-color: #EEE;
}
/*Xóa dấu ở list */

li {
	list-style: none; 
}

a {	
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}

.container {
	padding: 20px 50px;
	border-right: 1px solid #DDD;
	border-left: 1px solid #DDD;
	background-color: white;
	box-shadow: 0px 0px 10px #CCC;
}

a:hover {
	text-decoration: none;
}

#myCarousel {
	width: 870px;
	margin: 0 auto;
	clear: both;
}

.span2 > h3 {
	font-size: 1.1em;
	line-height: 20px;
	border-bottom: 1px solid #DDD;
	padding-bottom: 10px;
}
.span2 > ul {
	margin-left: 0px;
	margin-top: 15px;
}

.navbar .brand {
	text-indent: -9999px;
	display: block;
	width: 17px;
	height: 22px;
	background: url(../img/apple/logo.png) no-repeat 20px 10px transparent;
	padding-bottom: 8px;
}

footer .row .inner {
	width: 880px;
	margin: 0 auto;
}

.carousel-control {
	top: 50%;
	font-size: 120px;
	color: #888;
	left: -60px;
	background: transparent;
}
.carousel-control.right {
	right: -60px;
}
.carousel-control:hover {
	color: #444;
}

#product-header {
	float: left;
	width: 940px;
	padding-bottom: 10px;
}
#product-header h2 {
	float: left;
	margin: 0;
}
#product-header h2 a {
	display: block;
	width: 95px;
	height: 29px;
	text-indent: -9999px;
	background: url(../img/apple/product_title.png);
}
#product-header ul  {
	float: right;
	margin: 0;
}
#product-header ul li {
	display: inline;
}
#product-header ul li a {
	line-height: 35px;
	padding: 0px 10px;
	font-size: 0.85em;
}
#product-header ul li.buy-now a {
	display: inline-block;
	padding: 0;
	width: 72px;
	height: 25px;
	background: url(../img/apple/buynows.png) no-repeat;
	text-indent: -9999px;
	position: relative;
	top: 5px;
}

#product-type  {
	padding-top: 20px;
	margin-top: 20px;
	background: url(../img/apple/overview_divider_down.jpg) no-repeat top center transparent;
}
#product-type .row {
	padding-bottom: 20px;
	background: url(../img/apple/overview_divider_up.jpg) no-repeat bottom center transparent;
}
#product-type .inner {
}
#product-type .capacity, #product-type .price, #product-type .shipping {
	display: block;
	text-align: center;
}
#product-type .capacity {
	display: block;
	width: 180px;
	margin: 0 auto;
	line-height: 80px;
	font-size: 2em;
	text-shadow: 0px 1px 1px #AAA;
	
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(226,226,226,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(226,226,226,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(226,226,226,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */

	border: 1px solid #CCC;
	border-radius: 10px;
	opacity: 0.7;
	transition: all .5s linear;
	-webkit-transition: all .5s linear;
	-moz-transition: all .5s linear;
}
#product-type .capacity:hover {
	opacity: 1;

}
#product-type .price {
	font-size: 1.2em;
	line-height: 30px;
}
#product-type a {
	color: #333;
}

#design {	
}
#design > a {
	color: #888;
	font-size: 1.1em;
	display: block;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: -50px;
	margin-right: -50px;
	overflow: hidden;
}
#design article {
	padding: 90px 490px 0 10px;
	text-align: center;
}
#design .more {
	color: #08C;
}
#design .more:hover {
	text-decoration: underline;
}
img.flushright {
	float: right;
	position: relative;
	margin-top: -518px;
	margin-right: -50px;
	z-index: 100;
	display: block;
}

#display {
	background: url(../img/apple/overview_divider_down.jpg) no-repeat top center transparent;
	border-top: 1px solid #CED0D5;
	border-bottom: 1px solid #CED0D5;
}
#display article {
	padding: 90px 16px 0 504px;
	text-align: center;
}
#display > a {
	color: #888;
	font-size: 1.1em;
	display: block;
	padding-left: 50px;
	padding-right: 50px;
	margin-left: -50px;
	margin-right: -50px;
	overflow: hidden;
	background: url(../img/apple/overview_divider_up.jpg) no-repeat bottom center transparent;
}
#display .more {
	color: #08C;
}
#display .more:hover {
	text-decoration: underline;
}
img.flushleft {
	float: left;
	position: relative;
	margin-top: -360px;
	margin-left: 20px;
	z-index: 100;
	display: block;
}