---
layout: default
title: Blog
description: Our blog on iPhone 6
---

<div class="row">

<div class="span7">

<!-- Lặp để lấy 3 post gần đây nhất -->
{% for post in site.posts limit: 3 %}
    <hr>
    <article class="center-text">
        <section>
    	  <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
    	  <p class="date muted"><i><small>{{ post.date | date_to_string }} | 
            <a href="{{ site.url }}{{ post.url }}#disqus_thread"></a>
          {% unless post.tags == empty %}
          &nbsp;&nbsp;|&nbsp;&nbsp;
          {% for tag in post.tags %}
            <a href="#" class="no-border">{{ tag }}</a>
          {% endfor %}
          {% endunless %}
          </small></i>
          </p>
          {{ post.content }}
    	</section>
    </article>
{% endfor %}

    <!-- Phân trang -->
    <ul class="pager">
        <li class="previous"><a href="#">Older</a></li>
        <li class="next disabled"><a href="#">Newer</a></li>
    </ul>

</div>
<hr>
<div class="span4 offset1">
    <h6>Recent posts</h6>
    <!-- Tóm tắt 10 post gần đây nhất -->
    {% for post in site.posts limit: 10 %}
    <p>
    <h5><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h5>
    <small class="muted">{{ post.date | date_to_string }}</small>
    </p>
    {% endfor %}
    <hr>
    <h5><a href="{{ site.baseurl }}/blog/archive/"/>Archive</a></h5>
    
</div>
</div>
