<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}"/>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>
	<link href="css/custom.css" rel="stylesheet" media="screen"/>
  </head>
  <body>
      <header>
        <div class="navbar">
		  <div class="navbar-inner">
			<a class="brand" href="#">Apple</a>
			<ul class="nav">
			  <li class="active"><a href="#">Home</a></li>
			  <li><a href="#">Contact</a></li>
			  <li><a href="#">Blog</a></li>
			  <li><a href="#">About</a></li>
			  <li><a href="#">FAQ</a></li>
			</ul>
		  </div>
		</div>			
      </header>
      
      <article>
        {{ content }}
      </article>
      
      <footer>
        Footer
      </footer>

    
    <!-- Scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
